{% extends 'main.html' %}
{% block content%}

<style>
    .home-container{
        display: grid;
        grid-template-columns:1fr 3fr 1fr ;
        }
        </style>
<div class="home-container">

     <div >
         <h3>Browser Topic</h3>
         <hr>
         {% for topic in topics %}
         <div>
             <a href=" {% url 'home' %}?q={{topic.name}}"> >{{topic.name}}</a>
         </div>
         {% endfor %}

     </div>


    <div>
             <a href=" {% url 'create-room' %} "> Create New Room </a>
                <p> there are room {{count}}</p>
            <hr>
            {% for room in rooms %}
            {% if request.user == room.host %}
                <a href=" {% url 'update-room' room.id %} "> Edit </a>
                <a href=" {% url 'delete-room' room.id %} "> Delete </a>
            {% endif %}
            <span>@ {{room.host}} </span>
            <a href="{% url 'room' room.id %}" >
                <h4>{{room.id}} -- {{room.name}} </h4>
            </a>
            <span>@{{room.topic}} </span>
            <hr>
        {% endfor %}
    </div>
    <div>

        <h1> Activities </h1>
        {% for message in room_messages%}
        <div>
            <small>@{{message.user}}  {{ message.created | timesince }} </small>
            <br>
            <small>replied to room  {{message.room}} </small>
            <p>{{message}}</p>
            <hr>
        </div>
        {%endfor%}
    </div>
</div>
{% endblock %}