{% extends 'main.html' %} {% block content%}
<main class="layout layout--3">
  <div class="container">
    <!-- Topics Start -->
    <div class="topics">
      <div class="topics__header">
        <h2>Browse Topics</h2>
      </div>
      {% include 'base/topics_component.html' %}
    </div>

    <div class="roomList">{% include 'base/feed_component.html'%}</div>
    <!-- Activities Start -->
    <div class="activities">
      <div class="activities__header">
        <h2>Recent Activities</h2>
      </div>
      {% include 'base/activities_component.html'%}
    </div>

    <!-- Activities End -->
  </div>
</main>

{% endblock %}
